*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    color: rgb( 128, 128, 128);
}

/* utilities---------------------------------------------- */
h2{
    color: rgb(124, 187, 1);
    font-size: 22px;
}

.hr{
    width: 90vw;
    height: 1px;
    margin: 30px auto;
    background-color: rgb( 128, 128, 128);
}

.clearfix{
    content: "";
    display: table;
    clear: both;
}

.float-left{
    float: left;
}

.container{
    width: 1000px;
    margin: auto;
}

.w-50{
    width: 50%;
}

.btn{
    display: inline-block;
    min-width: 80px;
    padding: 8px;
    background-color: rgb(124, 187, 1);
    border: 1px solid transparent;
    border-radius: 5px;
    text-align: center;
    line-height: 1;
}

.btn.btn-transparent{
    background-color: transparent;
    border: 1px solid white;
}

.btn-big{
    padding: 15px 8px;
    margin-top: 20px;
    font-size: 18px;
}

/* help------------------------------------------------ */
div.help a{
    position: fixed;
    bottom: 0px;
    left: calc(50% + 550px);
    border-radius: 5px 5px 0px 0px;
}

/* header---------------------------------------------- */
header{
    background-color: rgb(13, 50 , 90);
    font-size: 10px;
}

header .nav-bar{
    line-height: 60px;
}

header .container .logo{
    width: 15%;
}

.logo img{
    vertical-align: middle;
}
/* nav----------------------------------------- */
header .container .nav{
    width: 45%;
}

header .container li{
    display: inline-block;
    list-style: none;
    margin-left: 15px;
}

li a,
a.btn{
    text-decoration: none;
    color: white;
}

/* nav-login-------------------------------------------------- */
header .container .nav-login{
    width: 40%;
    text-align: right;
}

header .container .nav-login a{
    line-height: 1;
}

/* jumbotron---------------------------------------------------- */
.jumbotron{
    height: 480px;
    background-color: rgb(13, 50 , 90);
    background-image: url(../img/background-header.png);
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position: calc(50% + 400px) 100%;
}

.jumbotron .container{
    position: relative;
    height: 100%;
}

.jumbotron .content{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white ;
    font-size: 40px;
}

/* intro bar----------------------------------------------- */
.intro-bar{
    background-color: rgb(211, 211, 211);
    padding: 30px;
    text-align: center;
}

.intro-bar h2{
    margin-bottom: 5px;
    font-size: 22px;
    font-weight: 400;
    color: black;
}

/* col-articles------------------------------------------- */
.col-articles .container .col{
    width: calc(100% / 3);
    text-align: center;
    padding: 10px;
    font-size: 14px;
    font-weight: 400;
}

.col .img-container{
    padding: 30px;
    height: 250px;
}

.col .text h2::after{
    display: block;
    content: "";
    height: 2px;
    width: 20%;
    margin: 30px auto;
    background-color: rgb( 128, 128, 128);
}

.col .img-container img{
    height: 100%;
}

/* last info sect--------------------------------------------- */
.last-info h2{
    font-size: 30px;
    font-weight: 400;
    color: black;
}

.last-info .container div{
    padding: 20px 30px;
}

.last-info p{
    margin: 20px 0px;
}

.last-info a{
    color: blue;
}

/* footer---------------------------------------------------- */
footer{
    background-color: rgb(211, 211, 211);
    line-height: 90px;
    color: black;
}

form{
    color: rgb( 128, 128, 128);
    text-align: right;
}

footer select{
    border: none;
    margin: 0 20px;
    background-color: rgb(211, 211, 211);
    width: 150px;
    border-bottom: 1px solid rgb( 128, 128, 128);
    font-size: 16px;
    color: rgb( 128, 128, 128);
}

option:first-child{
    display: none;
}