*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    color: rgb( 128, 128, 128);
}

/* utilities */
.clearfix{
    content: "";
    display: table;
    clear: both;
}

.float-left{
    float: left;
}

.container{
    width: 1000px;
    margin: auto;
}

.w-50{
    width: 50%;
}

.btn{
    display: inline-block;
    min-width: 80px;
    padding: 8px;
    background-color: rgb(124, 187, 1);
    border: 1px solid transparent;
    border-radius: 5px;
    text-align: center;
}

.btn.btn-transparent{
    background-color: transparent;
    border: 1px solid white;
}

.btn-big{
    padding: 15px 8px;
    margin-top: 20px;
}

/* header */
header{
    background-color: rgb(13, 50 , 90);
}

header .nav-bar{
    line-height: 60px;
}

header .container .logo{
    width: 15%;
}

.logo img{
    vertical-align: middle;
}
/* nav */
header .container .nav{
    width: 45%;
}

header .container li{
    display: inline-block;
    list-style: none;
    margin-left: 15px;
}

a{
    text-decoration: none;
    font-size: 10px;
    color: white;
}

/* nav-login */
header .container .nav-login{
    width: 40%;
    text-align: right;
}

header .container .nav-login a{
    line-height: 1;
}

/* jumbotron */
.jumbotron{
    height: 480px;
    background-color: rgb(13, 50 , 90);
    background-image: url(../img/background-header.png);
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position: 150% 100%;
}

.jumbotron .container{
    position: relative;
    height: 100%;
}

.jumbotron .content{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white ;
    font-size: 40px;
}

/* intro bar */
.intro-bar{
    background-color: rgb(211, 211, 211);
    padding: 30px;
    text-align: center;
}

.intro-bar h2{
    margin-bottom: 5px;
    font-size: 22px;
    font-weight: 400;
    color: black;
}

/* col-articles */
.col-articles{
    height: 1000px;
    background-color: red;
}

.col-articles .container{
    background-color: grey;
}

.col-articles .container .col{
    width: calc(100% / 3);
    height: 500px;
    background-color: rgba(200, 200, 200, .2);
}